:root{
    --sidebar-width: 250px;
    --color-primary: #0891b2;
    --color-primary-dark: #0e7490;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
}

h4 {
    margin: 16px 0 4px 0;
}
h3{
    margin: 0;
    padding: 8px 8px 8px 0;
}

button {
    width: 100px;
    border-radius: 30px;
    font-weight: bold;
    padding: 12px;
    background-color: var(--color-primary);
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
            "sidebar header"
            "sidebar content";
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 40px;
    gap: 30px;
    box-shadow:2px 5px 10px lightgrey;
    z-index: 1;
}

.avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.notification {
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

.notification:hover {
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
}
.search img {
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

#searchbar{
    width: 500px;
    height: 32px;
    background-color: #e2e8f0;
    border-radius: 30px;
    border: none;
}

.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.greeting p {
    grid-column-start: 2;
    padding: 0 16px;
    margin: 0;
}

.greeting img {
    grid-row: span 2;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.greet-user {
    font-size: 16px;
    font-weight: bold;
}

.user {
    font-size: 22px;
    font-weight: bold;
}

.activity {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 24px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-self: flex-end;
    font-weight: bold;
}

.profile p {
    padding: 0;
    margin: 0;
}

.profile:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation p {
    grid-column-start: 2;
}
.sidebar {
    grid-area: sidebar;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: bold;

}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-items: left;
    padding-left: 24px;
}

.sidebar-item:hover{
    cursor: pointer;
    background-color: var(--color-primary-dark);
}

.sidebar p {
    padding-left: 28px;
    justify-self: left;
}

.logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 32px;
    padding-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

.logo p {
    font-size: 24px;
    padding: 0;
}



.settings {
    display: flex;
    flex-direction: column;
}

.settings p {
    grid-column-start: 2;
}

.content {
    grid-area: content;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    overflow: scroll;
}

.projects {
    grid-area: projects;
    padding: 16px;


}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-self: start;

}

.projects-content div {
    padding: 24px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow:2px 5px 10px lightgrey;
}

.projects-content p{
    margin: 0;
}

.project-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-left: 10px solid #c084fc;
}

.project-item span {
    display: flex;
    justify-content: right;
    gap: 24px;
}

.project-item h3 {
    padding: 0;
}

.project-item:hover {
    cursor: pointer;
}
.announcements {
    grid-area: announcements;
    padding: 16px;
}

.announcements-content {
    display: flex;
    flex-direction: column;
    align-self: start;
    font-size: 16px;
    padding: 24px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow:2px 5px 10px lightgrey;
}
.announcements-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 16px 0;
}

.announcements-content div:hover {
    cursor: pointer;
}
.divider {
    border: 0.5px solid lightgray;
}

.projects-content p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending {
    grid-area: trending;
    padding: 16px;
}

.trending-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow:2px 5px 10px lightgrey;
}

.trending-list div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: left;

}

.trending-list p {
    margin: 0;
    padding: 8px 0 0 24px;
    grid-column-start: 2;
}

.trending-list img {
    grid-row: span 2;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}